body {
  font-family: roboto, Helvetica, Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}
header,
.hero,
footer {
  background-color: #1f2937;
}

.header-container,
.hero-container {
  max-width: 1020px;
  margin: auto;
}
.header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 24px;
  color: #f9faf8;
}
header ul {
  display: flex;
  gap: 24px;
}

.hero {
  padding: 120px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  gap: 48px;
}
.hero-image {
  flex-shrink: 0;
  background-color: #6d747d;
  width: 500px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 18px;
}
.hero-main h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}
.hero p,
header a {
  font-size: 18px;
  color: #e5e7eb;
}
button,
.call-to-action {
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
}
button {
  padding: 8px 32px;
  font-size: 18px;
  border: 0;
}


.infos h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 50px 0;
}
.info-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.info {
  width: 168px;
  color: #666;
  font-size: 18px;
  text-align: center;
  padding-bottom: 120px;
}
.info .image {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}
.info p {
  margin: 10px 0;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px 0;
}
.quote blockquote,
.quote p {
  width: 830px;
  margin: 0 auto;
}
.quote blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}
.quote p {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  padding-right: 64px;
}

.call-to-action {
  width: 1020px;
  box-sizing: border-box;
  margin: 120px auto;
  display: flex;
  align-items: center;
  padding: 50px 120px;
  justify-content: space-between;
}
.call-to-action h2 {
  margin: 0;
}
.call-to-action p {
  margin: 10px 0 0;
  font-weight: 300;
}
.call-to-action button {
  border: 2px solid white;
  flex-shrink: 0;
}
